<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{defaultLayout}">

<head>
<title>最新消息/公告</title>
<link th:href="@{/css/dataTables/dataTables.bootstrap.css}"
	rel="stylesheet">
<link th:href="@{/css/dataTables/dataTables.responsive.css}"
	rel="stylesheet">
<script th:src="@{/js/dataTables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables/dataTables.bootstrap.min.js}"></script>


</head>
<body>
	
</body>
</html>
