<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{defaultLayout}">

<head>
<title>聯絡我們</title>
<link th:href="@{/css/dataTables/dataTables.bootstrap.css}"
	rel="stylesheet">
<link th:href="@{/css/dataTables/dataTables.responsive.css}"
	rel="stylesheet">
<script th:src="@{/js/dataTables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables/dataTables.bootstrap.min.js}"></script>

<script>
	$(document).ready(function() {
		$('#personInfo-list').DataTable({
			responsive : true
		});
	});

</script>

</head>
<body>
	<div layout:fragment="content">
		<div class="container-flmid">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">聯絡我們</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">聯絡我們</div>
						<form th:object="${contactUsList}" >
							<div class="panel-body">
								<div class="table-responsive">
									<div class="form-group">
											<label>標題</label> <input class="form-control" th:field="*{title}" disabled="disabled" >
											<p class="help-block"></p>
											<label>日期</label> <input class="form-control" th:field="*{createDate}" disabled="disabled" >
											<p class="help-block"></p>
											<label>內容</label>
											<p class="help-block"></p>
											<textarea rows="10" cols="80" th:field="*{detail}" disabled="disabled" >
    										</textarea>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<p th:if="${pageError}" style="color: red" th:text="${errorMsg}"></p>
		</div>
		
	</div>
</body>
</html>
